@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/Scripts/site.js")

<div class="container">
    <br/>
    <br/>
    <form>
        <div class="col-lg-12 form-group">
            <div class="row">
                <div class="col-lg-4 block">
                    <input class="btn btn-primary" onclick="GetAllPosts(); return false;" type="submit" value="Get All Posts">
                    <br />
                    <br />
                    <br />
                    <br/>
                    <div>
                        <table>
                            <tr>Output:</tr>
                        </table>

                        <ol class="round">
                            <li>
                                <div id="divResult"></div>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-4 block">
                    <input type="text" class="form-control" placeholder="Post Id" id="txtPostId">
                    <br />
                    <input class="btn btn-primary" onclick="GetPost(); return false;" type="submit" value="Get Post">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <input type="text" class="form-control" placeholder="Post Title" id="txtaddPostTitle">
                    <br />
                    <input type="text" class="form-control" placeholder="Post Content" id="txtaddPostCont">
                    <br />
                    <input class="btn btn-primary" onclick="AddPost(); return false;" type="submit" value="Add Post">
                    <br />
                    <br />
                    <br />
                    <br />
                    <input type="text" class="form-control" placeholder="Post Id" id="txtPostIdforComment">
                    <br />
                    <input class="btn btn-primary" onclick="GetComments(); return false;" type="submit" value="Get all Comments on Post Id">
                    <br />
                    <br />
                    <br />
                    <br />
                    <input type="text" class="form-control" placeholder="Post Id" id="txtPostIdforComment">
                    <br />
                    <input type="text" class="form-control" placeholder="Comment content" id="txtaddComment">
                    <br />
                    <input class="btn btn-primary" onclick="AddComment(); return false;" type="submit" value="Add Comment to Post">
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
        
    </form>
</div>